:root{
    --color-primary: #5383FF;
    --color-blue-secondary: #3669eb;
    --color-white: #fff;
    --color-background: #000000e0;
}


@media (max-width: 767px){

    body{
        width: 100% !important;
        height: 100vh;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        overflow-x: hidden;
    }

    header{
        max-width: 100% !important;
        height: 100% !important;
        background-image: linear-gradient(
            to right, #000, #00000088, #00000011
        ), url(image/foto\ header\ resp.png) !important;

        
        

    }

    header nav{
        justify-content: end;
        margin-left: 3%;
    }


    header nav img{
        width: 150px;
    }

    .title-header{
        width: 400px;
        margin-bottom: 0;
        margin-left: 3% !important;
        margin-right: 3% !important;
    }

    header .title-header h1{
        font-size: 40px !important;
        margin-top: 15px;
        margin-top: 45px !important;
    }

    header .title-header p{
        font-size: 15px;
        width: 380px;
        text-align: start;
        margin: 0;
    }

    header .subtitle-header{
        margin: 200px 0;
    }

    .Container-desafios{
        width: 95% !important;
        height: 100vh !important;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start !important;
        align-items: start !important;
        gap: 40px !important;
        margin-top: 80px !important;
        margin-left: 3% !important;
        margin-right: 0 !important;

    }

    .title-desafios{
        width: 390px !important;
        margin-top: 20px !important;
    }

    .Container-desafios .title-desafios h2{
        font-family: "Bebas Neue", sans-serif;
        color: var(--color-white);
        font-size: 29px !important;
        margin-bottom: 30px;
    }

    .Container-desafios .title-desafios p{
        color: var(--color-white);
        text-align: center !important;
        line-height: 1.4;
        font-size: 15px !important;
    }

    .list-desafios{
        width: 390px !important;
    }

    .list-desafios p{
        color: var(--color-white);
        text-align: justify !important;
        font-size: 15px !important;
    }

    .list-desafios ul li{
        list-style: none !important;
    }

    .container-trans{
        width: 100% !important;
        height: 100vh !important;
        background-image:linear-gradient(
            to right, #000, #00000088, #00000011
        ), url(image/kanchanara-rhm7H8X5J98-unsplash.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-left: 0 !important;
        margin-top: -100px;
    }

    .trans-title{
        width: 400px !important;
        margin-left: 3% !important;

    }

    .trans-title h2{
        padding: 10px !important;
        border-radius: 10px;
        color: var(--color-white);
        margin-top: 400px !important;
        font-size: 30px !important;
        font-family: "Bebas Neue", sans-serif;
        background-color: #000000a9 !important;
        margin-left: -2% !important;
    }

    .trans-title p{
        margin-top: 20px !important;
        color: var(--color-white);
        font-size: 18px !important;
        font-weight: bolder;
        text-align: center !important;
    }

    .container-solucao{
        width: 95% !important;
        height: 100vh !important;
        display: flex;
        margin-left: 3% !important;
        margin-right: 0 !important;
    }

    .title-solucao{
        width: 390px !important;
        margin-top: 30px !important;
        color: var(--color-white);
    }

    .title-solucao h2{
        font-size: 30px !important;
        font-family: "Bebas Neue", sans-serif;
        margin-bottom: 10px;
    }

    .title-solucao p{
        font-size: 15px !important;
        text-align: justify !important;
        line-height: 1.4 !important;
    }

    .subtitle-solucao{
        margin-bottom: 30px !important;
    }

    .list-solucao ul li{
       list-style: none !important;
    
    }

    .container-ebook{
        width: 95% !important;
        height: 100% !important;
        padding: 50px 0 !important;
    
    }

    .title-ebook{
        width: 390px !important;
        margin-left: 3% !important;
        margin-right: 0 !important;
        margin-top: 100px !important;
    }

    .title-ebook h2{
        text-align: center;
        font-size: 30px !important;
        font-family: "Bebas Neue", sans-serif;
        margin-bottom: 10px;
        color: var(--color-white);
    }

    .title-ebook p{
        color: var(--color-white);
        text-align: center !important;
        line-height: 1.4 !important;
       }

    .box-ebook{
        display: flex;
        flex-direction: column;
        align-items: center !important;
        justify-content: center !important;
        width: 100%;
        margin-top: 100px !important;
        gap: 60px !important;
        margin-left: 4% !important;
    }

    .box{
        background-color: #6e6e6e80;
        padding: 20px;
        border-radius: 10px;
        width: 250px !important;
        height: 300px !important;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: .3s ease-in-out;
        cursor: pointer;
        margin-left: 0 !important;
        
    }

    .box h3{
        color: var(--color-blue-secondary);
        text-align: center;
        margin: 10px 0;
        font-size: 20px !important;
    }

    .box i{
        color: var(--color-white);
        font-size: 40px !important;
    }

    .box p{
        color: var(--color-white);
        text-align: center !important;
        font-size: 15px !important;
        margin-top: 10px;
    }

    .btn-ebook{
        width: 396px !important;
        margin-left: 3% !important;
    }

    .container-noticias{
        width: 96% !important;
        height: 100% !important;
    }

    .title-noticias{
        width: 390px !important;
        margin-left: 3% !important;
        margin-right: 0 !important;
        margin-top: 50px !important; 
    }

    .title-noticias h2{
        font-size: 30px !important;
        text-align: center;

    }

    .title-noticias p{
        color: var(--color-white);
        text-align: justify !important;
        line-height: 1.4 !important;
    }

    .slider{
        margin: 50px !important;
        margin-left: 2% !important;
        width: 400px !important;
        height: 400px;
        overflow: hidden;
        border-radius: 0 !important;
    }

    .slide img{
        width: 400px !important;
    }

    .manual-navigation{
        position: absolute;
        width: 400px !important;
        margin-top: -175px !important;
        display: flex;
        justify-content: center;
    }

    .navigation-auto{
        position: absolute;
        width: 400px !important;
        margin-top: 225px !important;
        display: flex;
        justify-content: center;
    }

    .container-parabens{
        width: 95% !important;
        height: 100% !important;
    
    }

    .title-parabens{
        width: 400px !important;
        margin-top: -100px !important;
        margin-left: 3% !important;
        margin-right: 0 !important;
    }

    .title-parabens h2{
        font-size: 30px !important;
        text-align: center;
        font-family: "Bebas Neue", sans-serif;
        margin-bottom: 10px;
        color: var(--color-white);
    }
    
    .title-parabens p{
        color: var(--color-white);
        text-align: justify !important;
        line-height: 1.2 !important;
        width: 390px !important;
    }

    .chamada{
        margin: 20px 0 !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center !important;
        margin-left: 0 !important;
    }
    
    .chamada p{
        text-align: justify !important;
        line-height: 1.4 !important;

    }

    footer{
        width: 100% !important;
        background-color: #6e6e6e;
    }

    .footer-links{
        width: 400px !important;
        display: flex;
        flex-direction: column !important;
        align-items: center !important;
        justify-content: center !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    footer div img{
        width: 100px !important;
        margin-left: 0 !important;
    
    }

    .footer-links p{
        color: var(--color-white);
        margin-left: 3% !important;
        text-align: center;
        padding-bottom: 40px !important;
    }

    .footer-links i{
        display: none !important;
    }


    /* Area de Cadastro */

   .content-img{
    display: none;
   }

   .container-logo{
    display: flex;
    align-items: center;
    justify-content: center !important;
    margin-left: 0 !important;
}

.container-form{
    display: flex;
    align-items: center;
    justify-content: center !important;
    margin-left: 7% !important;
    margin-top: 60px;
}
    
    



}