*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-primary: #5383FF;
    --color-blue-secondary: #3669eb;
    --color-white: #fff;
    --color-background: #000000e0;
}

body{
    font-family: "Montserrat", sans-serif;
    background-color: var(--color-background);
    overflow-x: hidden;
}

nav{
display: flex;
align-items: center;
justify-content: flex-end;
margin-right: 6%;
}


nav img{
    width: 200px;
}

header{
    background-image:linear-gradient(
        to right, #000, #00000088, #00000011
    ), url(image/art-rachen-sM4r-swmcoY-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center ;
    width: 100%;
    height: 100vh;
}

.title-header{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin-top: 100px;
    margin-left: 6%;
}

.title-header h1{
    color: var(--color-white);
    font-family: "Bebas Neue", sans-serif;
    font-size: 60px;
}

.title-header h1 span{
    color: var(--color-primary);
}

.title-header p{
    color: var(--color-white);
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    width: 550px;
    margin-left: 3%;
}

.subtitle-header{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 3%;
}

.subtitle-header p{
    margin-left: 0;
    font-size: 16px;
    width: 500px;
    text-align: justify;
}

button{
    margin-top: 20px;
    border: none;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--color-primary);
    font-weight: bold;
    cursor: pointer;
    transition: .2s ease-in-out;
}

button a{
    text-decoration: none;
    color: var(--color-white);
}

button:hover{
    transform: scale(1.03);
    background-color: var(--color-blue-secondary);
}

.Container-desafios{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin-top: 50px;
}

.title-desafios{
    width: 780px;
    margin-top: 60px;
}

.Container-desafios .title-desafios h2{
    font-family: "Bebas Neue", sans-serif;
    color: var(--color-white);
    font-size: 35px;
}

.Container-desafios .title-desafios h2 span{
    color: #e64c4c;
}

.Container-desafios .title-desafios p{
    color: var(--color-white);
    text-align: justify;
}

.list-desafios{
    width: 780px;
}

.list-desafios ul li{
    list-style: circle;
    color: #6e6e6e;
    padding: 10px 0;
}

.list-desafios p{
    color: var(--color-white);
    text-align: justify;
}

.list-desafios p strong{
    color: #e64c4c;
}

.container-trans{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(
        to right, #000, #00000088, #00000011
    ), url(image/kanchanara-rhm7H8X5J98-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.trans-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.trans-title h2{
    padding: 10px 20px;
    border-radius: 10px;
    color: var(--color-white);
    margin-top: 20%;
    font-size: 60px;
    font-family: "Bebas Neue", sans-serif;
    background-color: #000000a9;
}

.trans-title h2 span{
    color: var(--color-primary);
}

.trans-title p{
    color: var(--color-white);
    font-size: 20px;
    font-weight: bolder;
}

.container-solucao{
    width: 100%;
    height: 100vh;
    display: flex;
    margin-left: 25%;
    margin-right: 25%;
}

.title-solucao{
    width: 780px;
    margin-top: 50px;
    color: var(--color-white);
}

.title-solucao h2{
    font-size: 35px;
    font-family: "Bebas Neue", sans-serif;
    margin-bottom: 10px;
}

.title-solucao h2 span{
    color: var(--color-primary);
}

.subtitle-solucao{
    margin-bottom: 50px;
    text-align: justify;
}

.list-solucao ul{
    margin-bottom: 30px;
}

.list-solucao ul li{
    list-style: circle;
    color: #6e6e6e;
    padding: 10px 0;
    
}

.list-solucao p{
    color: var(--color-white);
    text-align: justify;
}

.list-solucao p strong{
    color: var(--color-blue-secondary);
}

.list-solucao p span{
    color: var(--color-blue-secondary);
}

.container-ebook{
    width: 100%;
    height: 100vh;

}

.title-ebook{
    width: 780px;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 100px;
}

.title-ebook h2{
    font-size: 35px;
    font-family: "Bebas Neue", sans-serif;
    margin-bottom: 10px;
    color: var(--color-white);
}

.title-ebook h2 span{
    color: var(--color-primary);
}

.title-ebook p{
 color: var(--color-white);
 text-align: justify;
}

.box-ebook{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin-top: 100px;
}

.box{
    background-color: #6e6e6e80;
    padding: 20px;
    border-radius: 10px;
    width: 250px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: .3s ease-in-out;
    cursor: pointer;
    
}

.box:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 8px 8px #5384ff52 ;
}

.box h3{
    color: var(--color-blue-secondary);
    text-align: center;
    margin: 10px 0;
}

.box i{
    color: var(--color-white);
    font-size: 40px;
}

.box p{
    color: var(--color-white);
    text-align: start;
}

.container-noticias{
    width: 100%;
    height: 100vh;
}

.title-noticias{
    width: 780px;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 100px; 
}

.title-noticias h2{
    font-size: 35px;
    font-family: "Bebas Neue", sans-serif;
    margin-bottom: 10px;
    color: var(--color-white);
}

.title-noticias h2 span{
    color: var(--color-primary);
}

.title-noticias p{
    color: var(--color-white);
    text-align: justify;
}

.btn-ebook{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}

.btn-ebook p{
    color: var(--color-white);
}

.container-parabens{
    width: 100%;
    height: 100vh;

}

.title-parabens{
    margin-top: 50px;
    margin-left: 25%;
    margin-right: 25%;
}

.title-parabens h2{
    font-size: 35px;
    font-family: "Bebas Neue", sans-serif;
    margin-bottom: 10px;
    color: var(--color-white);
}

.title-parabens h2 span{
    color: var(--color-primary);
}

.subtitle-parabens{
    margin: 20px 0;
}

.title-parabens p{
    color: var(--color-white);
    text-align: justify;
}

.txt-principal{
    padding: 20px 0;
}

.txt-principal p{
    font-size: 18px;
    text-align: justify;
}

.txt-principal p strong{
    color: var(--color-blue-secondary);
}

.chamada{
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chamada p{
    text-align: justify;
}







/* Area do Slider */


.slider{
    margin: 50px auto;
    width: 800px;
    height: 400px;
    overflow: hidden;
    border-radius: 20px;
}

.slides{
    width: 400%;
    height: 400px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 25%;
    position: relative;
    transition: 2s;
}

.slide img{
    width: 800px;
}

.manual-navigation{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid var(--color-blue-secondary);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: var(--color-white);
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -25%;
}

#radio3:checked ~ .first{
    margin-left: -50%;
}

#radio4:checked ~ .first{
    margin-left: -75%;
}

.navigation-auto div{
    border: 2px solid var(--color-blue-secondary);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transform: 1s;
}

.navigation-auto{
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: var(--color-blue-secondary);
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: var(--color-blue-secondary);
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: var(--color-blue-secondary);
}

#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: var(--color-blue-secondary);
}



/* Area do Cadastro */

.container-main{
    width: 100%;
    height: 100vh;
}

.container-logo{
    display: flex;
    align-items: center;
    justify-content: start;
    margin-left: 23.5%;
}

.container-logo img{
    width: 200px;
}

.container-form{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.content-form{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 450px;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary);
    border-radius: 20px;
    margin-top: -50px;
    margin-right: 8%;
    gap: 20px;
    box-shadow: 0px 20px 20px -5px #000;
}

.content-form p{
    text-align: center;
    margin: 0 10px;
    padding-bottom: 30px;
    color: var(--color-white);
    font-weight: bold;
}

.content-form input{
    border: none;
    width: 250px;
    height: 5vh;
    border-radius: 5px;
    outline: none;
}

.content-form input::placeholder{
    padding-left: 5px;
}

.content-form input:focus{
    padding-left: 5px;
}

#btnCadEnviar{
    background-color: var(--color-white);
    color: var(--color-primary);
    font-weight: bold;
    transition: .3s;
    cursor: pointer;
}

#btnCadEnviar:hover{
    background-color: #3669eb;
    color: var(--color-white);
}

.content-img img{
    width: 800px;
}